@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	/* background: linear-gradient(90deg, #C7C5F4, #776BCC);		 */
	background: #3787ad;
}

.map{
	height: 630px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-closer:after {
    content: "✖";
  }


header{
    display: flex;
    flex-direction: row;
    /* background-color:#7c71ce; */
    /* background: linear-gradient(90deg, #776BCC, #C7C5F4, #776BCC); */
    background: linear-gradient(90deg, #1c2224, #1e84b2);

    height: 4em;
    justify-content:space-between;
    /* width: 2em; */
}

#div2{
    float: right;
    width:50%;
    display: flex;
    justify-content:space-between;
}
#div2 a, #div1 a{
    padding: 1em 1em;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-inline: auto;
    text-align:center;
    font-size:large;
    color: white;
    /* margin-block: auto; */
    
}

#div1 a{
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    font-family: serif;
    padding-left: 1.7em;
    color:bisque;
    padding: 0.5em 1em;

    /* padding bottom: 1em; */
    /* padding-bottom: 1em; */
	
}

#div2 a:hover{
    /* backcolor:#c1bff2; */
    background-color: black;
    /* text-decoration: line-through; */
}