@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body {
	/* background: linear-gradient(90deg, #C7C5F4, #776BCC);		 */
	background: #3787ad;
}

.map{
	height: 630px;
}



header{
    display: flex;
    flex-direction: row;
    /* background-color:#7c71ce; */
    /* background: linear-gradient(90deg, #776BCC, #C7C5F4, #776BCC); */
    background: linear-gradient(90deg, #1c2224, #1e84b2);

    height: 4em;
    justify-content:space-between;
    /* width: 2em; */
}

#div2{
    float: right;
    width:50%;
    display: flex;
    justify-content:space-between;
}
#div2 a, #div1 a{
    padding: 1em 1em;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    margin-inline: auto;
    text-align:center;
    font-size:large;
    color: white;
    /* margin-block: auto; */
    
}

#div1 a{
    text-align: start;
    font-size: xx-large;
    font-weight: bold;
    font-family: serif;
    padding-left: 1.7em;
    color:bisque;
    padding: 0.5em 1em;

    /* padding bottom: 1em; */
    /* padding-bottom: 1em; */
	
}

#div2 a:hover{
    /* backcolor:#c1bff2; */
    background-color: black;
    /* text-decoration: line-through; */
}